.box-nova-conta {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: left;
}

.box-com-titulo {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: center;
}
