.buttons-conta {
  display: flex;
  justify-content: flex-start;
  align-items: left;
  gap: 16px;
  margin-bottom: 16px;
}

.box-conta {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: left;
}

.box-com-titulo {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: center;
}
